[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
pyyaml = "*"
aiohttp-jinja2 = "*"

[dev-packages]
aiohttp-debugtoolbar = "*"

[requires]
python_version = "3.9"
