<div class="row row__top">
        <ul class="top-nav">
            <li class="top-nav_item"><a href="#">Акции</a></li>
            <li class="top-nav_item"><a href="#">Скидки</a></li>
            <li class="top-nav_item"><a href="#">Оплата</a></li>
            <li class="top-nav_item"><a href="#">Доставка</a></li>
            <li class="top-nav_item"><a href="#">О магазине</a></li>
            <li class="top-nav_item"><a href="#">Контакты</a></li>
        </ul>
        <div class="phone-wrapper">
            <div class="phone-title">
                <span>c 9.00 до 20.00</span>
                <span class="phone-block">+375 ... <i class="fas fa-chevron-down fa-1x"></i></span>
            </div>
            <div class="phone-area">
                <ul class="phone-area_numbers">
                    <li><i class="fas fa-phone-square"></i> Phone 1</li>
                    <li><i class="fas fa-phone-square"></i> Phone 2</li>
                    <li><i class="fas fa-phone-square"></i> Phone 3</li>
                </ul>
                <div class="phone-area_call">
                    Заказать звонок
                </div>
                <ul class="phone-area_socials">
                    <li><a href="#"><i class="fab fa-telegram"></i> Telegram</a></li>
                    <li><a href="#"><i class="fab fa-viber"></i> Viber</a></li>
                    <li><a href="#"><i class="fab fa-facebook-square"></i> Facebook</a></li>
                    <li><a href="#"><i class="fab fa-vk"></i> VK</a></li>
                    <li><a href="#"><i class="fas fa-envelope"></i> Mail</a></li>
                </ul>
            </div>
        </div>
    </div>